/* .resmenu {
  margin: auto;
  width: 50%;
}

.resmenu-name {
  margin-top: 10px;
  margin-bottom: 20px;
}

.resmenu-ratinginfo {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
} */
